.link{
    font-size: 18px;
    font-weight: bold;
    padding: 5px;
    color: var(--colorwhite);
    border-radius: 10px;
    border: 2px solid var(--colorwhite);
    text-decoration: none;
    text-align: center;
    align-items: center;
    justify-content: center;
    display: flex;
    width: 148px;
    opacity: 0.9;
}

.link:hover{
    filter: brightness(0.9);
    color: var(--color-blue-light);
}
.activolink{
    background-color: var(--color-black);
    border: 2px solid var(--color-blue);
    border-radius: 10px;
}